<% provide(:title, 'About') %>
<h1>About me</h1>
<p>
	This is a project to develop a prototype web application to take photos using Raspberry Pi and its add-on camera module. This web application consists of 1 Raspberry Pi, 1 add-on camera module, Ruby 2.0.0, Rails 4.0.8, RabbitMQ and AWS.
</p>